$baseColor: rgba(0,0,0,1);
$secondColor: rgba(255,255,255,1);
@import "base/reset";
body{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	min-width:340px;
}
@import "base/typography","components/navigation","components/buttons","helpers/mixins","layout/header","layout/footer","pages/prelude","pages/about","pages/technology","pages/after-hours","pages/contact","components/media","components/animation-keys" ;