@import "reset", "mixins";
$baseColor: rgba(0,0,0,1);
$secondColor: rgba(255,255,255,1);
@keyframes start-slide-bg-up{
	from{top: -150px;}
	to{opacity:1; top:0px;}
}
@keyframes start-slide-bg-down{
	from{bottom: -150px;}
	to{opacity:1; bottom:0px;}
}
@keyframes start-slide-up{
	from{position: relative; top: -50px;}
	to{opacity:1; position: relative; top:0px;}
}
@keyframes start-slide-up2{
	from{position: relative; top: -30px;}
	to{opacity:1; position: relative; top:0px;}
}
@keyframes start-button{
	from{position: relative; top: 20px;}
	to{opacity:1; position: relative; top:0px;}
}
body{
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}
.page-translate{
	transform: translateX(-250px);
}
.header,
.main,
.footer{
	&-of-page{
		transition: 1s;
	}
}
.header-of-page{
	background: url(../img/bg.jpg) center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	position: relative;
	width: 100%;
}
.menu{
	position: absolute;
	right: 0px;
	top: 0px;
	transition: 1s;
	width: 100%;
	&__hamburger{
		float: right;
		margin: 35px;
		padding: 5px;
		position: relative;
		transition: margin 0.3s;
		z-index: 120;
		&:hover{
			cursor: pointer;
			margin: 29px 35px;
		}
		&:hover .menu__hamburger__item{
			margin: 6px 0;
		}
		&__item{
			background-color: rgba(250,250,250, 1);
			border: 1px solid rgba(250,250,250, 1);
			border-radius: 1px;
			height: 2px;
			margin: 3px 0;
			transition: 0.3s;
			width: 30px;
		}
		&--close-style{
			padding: 15px 5px;
			margin: 25px 30px;
			& .menu__hamburger__item:nth-child(1){
				margin: 0; 				
				position: relative;
				transform: rotate(45deg);
				top:5px;
				width: 40px;
			}
			& .menu__hamburger__item:nth-child(2){
				display: none
			}
			& .menu__hamburger__item:nth-child(3){
				margin: 0;
				position: relative;
				transform: rotate(-45deg);
				top:2px;
				width: 40px;
			}
			&:hover{
				margin: 25px 30px;
			}
		}
	}
	&__text{
		color: $secondColor;
		float: right;
		font: bold 20px/150% 'Ubuntu', sans-serif;
		margin-top: 36px;
		text-transform: uppercase;
	}
	&--fixed{
		background-color: $baseColor;
		border-bottom: 1px solid #555555;
		left: 0;
		position: fixed;
		top: 0;
		transition: 1s;
		z-index: 100;
	}
}
.prelude{
	overflow: hidden;
	text-align: center;
	&__header{
		animation: 1s start-slide-up 0.5s forwards;
		color: $secondColor;
		font: bold 20px/40px 'Fira Mono', sans-serif;
		margin-top: 30vh;
		opacity: 0;
		text-transform: uppercase;
		&--size1{
			animation: 1s start-slide-up 1s forwards;
			display: block;
			font-size: 160%;
			opacity: 0;
		}
		&--size2{
			animation: 1s start-slide-up 1.5s forwards;
			display: block;
			font-size: 80%;
			opacity: 0;
		}
	}
	&__button{
		@include buttons();
		animation: 1s start-button 2.5s forwards;
		opacity: 0;

	}
	&::after{
		animation: 1s start-slide-bg-down forwards;
		border-bottom: 200px solid $secondColor;
		border-right: 2500px solid transparent;
		bottom: 0;
		content: "";
		display: block;
		opacity: 0;
		position: absolute;
		right: 0;
		transition: 0.5s;
	}
	&::before{
		animation: 1s start-slide-bg-up forwards;
		border-top: 100px solid $secondColor;
		border-right: 2500px solid transparent;
		content: "";
		display: block;
		margin: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		transition: 0.5s;
	}
}
.navigation{
	background-color: $baseColor;
	border-left: 1px solid #555555;
	box-sizing: border-box;
	height: 100%;
	padding-top: 80px;
	position: fixed;
	right: -250px;
	top: 0;
	transition: 1s;
	width: 250px;
	z-index: 9999;
	&__list{
		width: 100%;
		&__item{
			border-bottom: 1px solid #555555;
			margin: 0 auto;	
			text-align: left;
			width: 80%;
			&__link{
				color: $secondColor;
				font: 20px/50px 'Raleway', sans-serif;
				letter-spacing: 2px;
				transition: 0.5s;
				&:hover{
					color: rgba(190, 177, 107, 1);
					letter-spacing: 5px;
				}
			}
		}
	}
}
.about{
	@include header-of-section;
	padding-left:0;
	padding-right: 0;
	position: relative;
	&__photo{
		animation: 0.5s start-slide-up2 0.9s forwards paused;
		display: block;
		margin-top: -30px;
		opacity: 0;
		transition: 0.5s;
		width: 100%;
	}
	&__description{
		animation: 0.5s start-slide-up2 1.2s forwards paused;
		font-size: 14px;
		line-height: 30px;
		margin: 0 auto;
		opacity: 0;
		width: 70%;
	}
}
.technology{
	@include header-of-section;

	&__list{
		box-sizing: border-box;
		margin: 40px auto;
		min-width: 100%;
		&__item{
			box-sizing: border-box;
			display: inline-block;
			margin: 20px;
			opacity: 0;
			overflow: hidden;
			width: calc(33.33% - 45px);
			&:nth-child(1){
				animation: 0.5s start-slide-up2 0.8s forwards paused;
			}
			&:nth-child(2){
				animation: 0.5s start-slide-up2 1s forwards paused;
			}
			&:nth-child(3){
				animation: 0.5s start-slide-up2 1.2s forwards paused;
			}
			&:nth-child(4){
				animation: 0.5s start-slide-up2 1.4s forwards paused;
			}
			&:nth-child(5){
				animation: 0.5s start-slide-up2 1.6s forwards paused;
			}
			&:nth-child(6){
				animation: 0.5s start-slide-up2 1.8s forwards paused;
			}
			&:nth-child(7){
				animation: 0.5s start-slide-up2 2s forwards paused;
			}
			&:nth-child(8){
				animation: 0.5s start-slide-up2 2.2s forwards paused;
			}
			&:nth-child(9){
				animation: 0.5s start-slide-up2 2.4s forwards paused;
			}
			&__img{
				filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
				transition: 0.5s;
				width: 100%;
			}

			&:hover .technology__list__item__img{
				filter: grayscale(0%);
				-webkit-filter: grayscale(0%);
			}
		}

	}
	&__button{
		@include buttons();
		animation: 0.5s start-slide-up2 2.6s forwards paused;
		background-color: rgba(0,0,0, 0.8);
		color: $secondColor;
        &:hover{
            background-color: rgba(0,0,0,1);
            box-shadow: 0px 0px 20px 10px rgba(0,0,0, 0.3);
        }
	}

}
.projects{
	@include header-of-section;
}
.after-hours{
	@include header-of-section;
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	&__list{
		background-color: $baseColor;
		box-sizing: border-box;
		margin: 20px auto;
		position: relative;
		width: 100%;
		&::after{
			border-bottom: 350px solid $secondColor;
			border-right: 3000px solid transparent;
			bottom: 0;
			content: "";
			display: block;
			position: absolute;
			right: -200px;
			transition: 0.5s;
			z-index: 4;
		}
		&::before{
			border-top: 500px solid $secondColor;
			border-right: 3500px solid transparent;
			content: "";
			display: block;
			position: absolute;
			right: -1000px;
			top: 0;
			transition: 0.5s;
			z-index: 4;
		}
		&__item{
			border-radius: 10px;
			box-sizing: border-box;
			display: inline-block;
			margin: 10px;
			max-width: 1200px;
			opacity: 0;
			overflow: hidden;
			position: relative;
			width: calc(100% - 150px);
			z-index: 7;
			&:nth-child(1){
				animation: 0.5s start-slide-up2 0.8s forwards paused;
			}
			&:nth-child(2){
				animation: 0.5s start-slide-up2 1s forwards paused;
			}
			&:nth-child(3){
				animation: 0.5s start-slide-up2 1.2s forwards paused;
			}
			&:nth-child(4){
				animation: 0.5s start-slide-up2 1.4s forwards paused;
			}
			&:nth-child(5){
				animation: 0.5s start-slide-up2 1.6s forwards paused;
			}
			&:nth-child(6){
				animation: 0.5s start-slide-up2 1.8s forwards paused;
			}
			&:nth-child(7){
				animation: 0.5s start-slide-up2 2s forwards paused;
			}
			&__img{
				filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
				transition: 0.5s;
				width: 100%;
			}
			&__description{
				background-color: rgba(250,250,250,0.9);
				bottom: 0;
				color: rgba(200, 187, 117, 1);
				display: block;
				font: 22px/26px 'Raleway', sans-serif;
				height: 50px;
				left: 0;
				padding: 15px;
				position: absolute;
				text-align: left;
				transition: 0.5s;
				width: 100%;
				&--style{
					display: block;
					color: $baseColor;
					font-size: 14px;
				}
			}
			&:hover .after-hours__list__item__img{
				filter: grayscale(0%);
				-webkit-filter: grayscale(0%);

			}
			&:hover .after-hours__list__item__description{
				opacity: 0;
			}
		}

	}
}
.contact{
	@include header-of-section();
	margin-bottom: 100px;
	&__description{
		animation: 0.5s start-slide-up2 0.9s forwards paused;
		color: $secondColor/1.5;
		font: 14px/150% 'Ubuntu', sans-serif;
		margin-top: 40px;
		opacity: 0;
	}
	&__phone{
		animation: 0.5s start-slide-up2 1.2s forwards paused;
		font: bold 26px/150% 'Ubuntu', sans-serif;
		margin-top: 30px;
		opacity: 0;
	}
	&__email{
		animation: 0.5s start-slide-up2 1.5s forwards paused;
		font: 16px/150% 'Raleway', sans-serif;
		opacity: 0
	}
	&__social-media{
		animation: 0.5s start-slide-up2 1.8s forwards paused;
		margin: 10px auto;
		opacity: 0;
		&__item{
			display: inline-block;
			font-size: 26px;
			&__link{
				color: $baseColor;
				content: "";
				padding:15px;
				transition: 0.5s;
				:hover{
					color: #3b5998;
				}
			}


		}
	}

}
.footer-of-page{
	position: relative;
	&__text{
		background-color: $baseColor;
		color: $secondColor;
		font: 14px/26px 'Fira Mono', sans-serif;
		height: 40px;
		letter-spacing: 2px;
		text-align: center;
		&::before{
		border-bottom: 100px solid $baseColor;
		border-right: 2500px solid transparent;
		color: $secondColor;
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: -100px;
		transition: 0.5s;
		}
	}
}
@media (min-width: 450px){
	.prelude{
		&__header{
			font-size: 26px;
			line-height: 120%;
		}
	}
}
@media (min-width: 650px){
	.prelude{
		&__header{
			font-size: 30px;
			line-height: 120%;
		}
	}
	.about,
	.technology,
	.projects,
	.after-hours,
	.contact{
		&__header{
			font-size: 32px;
		}
		&__header-bottom{
			font-size: 18px;
		}
	}
	.about{
		&__photo{
			margin-top: -90px;
		}
	}
}
@media (min-width: 1000px){
	.prelude{
		&__header{
			font-size: 36px;
			line-height: 120%;
		}
	}
	.about,
	.technology,
	.projects,
	.after-hours,
	.contact{
		&__header{
			font-size: 42px;
		}
		&__header-bottom{
			font-size: 26px;
		}
	}
	.about{
		&__description{
			font-size: 22px;
		}
		&__photo{
			margin-top: -160px;
		}
	}
	.technology__list__item{
		width: calc(20% - 45px);
	}
	.contact{
	&__description{
		font-size: 18px;
	}
	&__phone{
		font-size: 36px;
	}
	&__email{
		font-size: 22px;
	}
	&__social-media{
		&__item{
			font-size: 30px;
			}
		}
	}

}
@media (min-width: 1200px){
	.prelude{
		&__header{
			font-size: 45px;
			line-height: 120%;
		}
	}

	.about{
		&__description{
			font-size: 26px;
		}
		&__photo{
			margin-top: -200px;
		}
	}
	.contact{
		margin-bottom: 150px;
	&__description{
		font-size: 18px;
	}
	&__phone{
		font-size: 45px;
	}
	&__email{
		font-size: 26px;
	}
	&__social-media{
		&__item{
			font-size: 32px;
		}
	}
}
}
@media (min-width: 1600px){
	.about{
		padding-top: 160px;
		&__description{
			font-size: 26px;
		}
		&__photo{
			margin-top: -280px;
		}
	}
}