@import "../helpers/mixins";
.prelude__button,
.technology__button{
	@include buttons();
	opacity: 0;
}
.prelude__button{
	animation: 1s start-button 2.5s forwards;
}
.technology__button{
	animation: 0.8s start-slide-up2 2.6s forwards paused;
	background-color: rgba(0,0,0, 0.8);
	color: $secondColor;
    &:hover{
        background-color: rgba(0,0,0,1);
        box-shadow: 0px 0px 20px 10px rgba(0,0,0, 0.3);
    }
}