%buttons{
    background: none;
    border: none;
    border-radius: 20px;
    height: 43px;
    letter-spacing: 2px;
    margin: 50px auto; 
    padding-top: 2px;    
    transition: 0.5s;
    font-family: $second-font;
    font-size: 13px;
    line-height: 40px;
    outline: 0;
    text-transform: uppercase;
    width: 240px;
    &:hover{
        cursor: pointer;
    }
}
