@media (min-width: 450px){
	.prelude{
		&__header{
			font-size: 26px;
			line-height: 120%;
		}
	}
}
@media (min-width: 600px){
	.menu--fixed{
		& .menu{
			&__text-name{
				display: inline;
			}
		}
	}
}
@media (min-width: 640px){
	.prelude{
		&__header{
			font-size: 30px;
			line-height: 120%;
		}
	}
	.about,
	.technology,
	.projects,
	.after-hours,
	.contact{
		&__header{
			font-size: 32px;
		}
		&__header-bottom{
			font-size: 18px;
		}
	}
	.about{
		&__photo{
			
		}
	}
}
@media (min-width: 1000px){
	.prelude{
		&__header{
			font-size: 36px;
			line-height: 120%;
		}
	}
	.about,
	.technology,
	.projects,
	.after-hours,
	.contact{
		&__header{
			font-size: 42px;
		}
		&__header-bottom{
			font-size: 26px;
		}
	}
	.about{
		&__description{
			font-size: 22px;
		}
	}
	.technology__list__item{
		width: calc(20% - 45px);
	}
	.contact{
	&__description{
		font-size: 18px;
	}
	&__phone{
		font-size: 36px;
	}
	&__email{
		font-size: 22px;
	}
	&__social-media{
		&__item{
			font-size: 30px;
			}
		}
	}
}
@media (min-width: 1200px){
	.prelude{
		&__header{
			font-size: 45px;
			line-height: 120%;
		}
	}
	.about{
		&__description{
			font-size: 26px;
		}
	}
	.contact{
		margin-bottom: 150px;
	&__description{
		font-size: 18px;
	}
	&__phone{
		font-size: 45px;
	}
	&__email{
		font-size: 26px;
	}
	&__social-media{
		&__item{
			font-size: 32px;
		}
	}
}
}
@media (min-width: 1600px){
	.about{
		padding-top: 130px;
		&__description{
			font-size: 26px;
		}
	}
}