
//Colors
$no-color: rgba(0 ,0 ,0 ,0);
$black: rgb(0 ,0 ,0);
$white: rgb(255, 255, 255);
$grey: rgb(48, 48, 48);
$grey-light-medium: rgb(98, 98, 98);
$grey-light: rgb(212, 212, 212);
$base-color: $grey;
$second-color: $white;
$text-color-dark: $grey-light-medium;
$text-color-darklight: $grey-light;
//Fonts:
//style
$base-font: ('Open Sans', sans-serif);
$second-font: ('Open Sans', sans-serif);

//size
$breakpoints: (
  'small': 450px,
  'medium': 640px,
  'large': 1000px
);
$h1-font-sizes: (
  'null'  : 2.0em,
  'small': 2.6em,
  'medium': 3.6em,
  'large' : 5.0em
);
$h2-font-sizes: (
  'null'  : 2.6em,
  'medium': 3.2em,
  'large' : 4.2em
);
$h3-font-sizes: (
  'null'  : 1.2em,
  'small': 1.4em,
  'large' : 1.6em,
);
$h4-font-sizes: (
  'null'  : 1.2em,
  'medium': 1.8em,
  'large' : 1.6em,
);
$description-font-sizes: (
  'null'  : 1.6em,
  'small': 2.0em,
  'large': 2.4em,
);
$name-font-sizes: (
  'null'  : 2.0em,
);

$navi-font-sizes: (
  'null'  : 2.0em,
  'large' : 1.4em,
);
$phone-font-sizes: (
  'null'  : 2.6em,
  'large' : 4.2em,
);
$email-font-sizes: (
  'null'  : 1.6em,
  'large' : 2.6em,
);
$social-font-sizes: (
  'null'  : 2.6em,
  'large' : 3.2em,
);