.about{
	@include header-of-section;
	padding-left:0;
	padding-right: 0;
	position: relative;
	&__photo{
		animation: 1.2s start-slide-up2 0.9s backwards paused;
		display: inline-block;
		border-radius: 50%;
		margin: 50px;
		max-width: 300px;
		transition: 0.5s;
		width: calc(100% - 100px);
	}
	&__description{
		animation: 0.7s start-slide-up2 1.2s backwards paused;
		font-size: 14px;
		line-height: 200%;
		margin: 20px auto;
		max-width: 600px;
		width: 70%;
	}
}
@media (min-width: 1000px){
	.about{
		margin-bottom: 90px;
		&__photo{
			display: inline-block;
			margin-bottom: -90px;
		}
		&__description{
			display: inline-block;
			text-align: left;
			width: 40%;
		}
	}
}