.prelude{
	overflow: hidden;
	text-align: center;
	&__header{
		animation: 1s start-slide-up 0.5s backwards;
		color: $secondColor;
		font: 'Fira Mono', sans-serif;
		@include font-size($h1-font-sizes);
		font-weight: bold;
		margin-top: 30vh;
		text-transform: uppercase;
		&--size1{
			animation: 1s start-slide-up 1s backwards;
			display: block;
			font-size: 160%;
		}
		&--size2{
			animation: 1s start-slide-up 1.5s backwards;
			display: block;
			font-size: 80%;
		}
	}
	&__button{
		@extend %buttons;
		animation: 1s start-button 2.5s backwards;
	}
}
