.technology{
	@include header-of-section;
	background: url('../img/bg2.jpg') right fixed;
	&__list{
		box-sizing: border-box;
		margin: 40px auto;
		max-width: 1200px;
		width: 100%;
		&__item{
			box-sizing: border-box;
			display: inline-block;
			margin: 20px;
			overflow: hidden;
			width: calc(33.33% - 45px);
			&:nth-child(1){
				animation: 0.5s start-slide-up2 0.8s backwards paused;
			}
			&:nth-child(2){
				animation: 0.5s start-slide-up2 1s backwards paused;
			}
			&:nth-child(3){
				animation: 0.5s start-slide-up2 1.2s backwards paused;
			}
			&:nth-child(4){
				animation: 0.5s start-slide-up2 1.4s backwards paused;
			}
			&:nth-child(5){
				animation: 0.5s start-slide-up2 1.6s backwards paused;
			}
			&:nth-child(6){
				animation: 0.5s start-slide-up2 1.8s backwards paused;
			}
			&:nth-child(7){
				animation: 0.5s start-slide-up2 2s backwards paused;
			}
			&:nth-child(8){
				animation: 0.5s start-slide-up2 2.2s backwards paused;
			}
			&:nth-child(9){
				animation: 0.5s start-slide-up2 2.4s backwards paused;
			}
			&__img{
				filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
				transition: 0.5s;
				width: 100%;
			}

			&:hover .technology__list__item__img{
				filter: grayscale(0%);
				-webkit-filter: grayscale(0%);
			}
		}
	}
	&__button{
		@extend %buttons;
		animation: 0.8s start-slide-up2 2.6s backwards paused;
		background-color: rgba(0,0,0, 0.8);
		color: $secondColor;
	    &:hover{
	        background-color: $baseColor;
	        box-shadow: 0px 0px 20px 10px rgba(0,0,0, 0.3);
	    }
	}
}